body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  min-height: 100vh;
}

.monster-image {
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
}

.monster-info {
  width: 100%;
  background-color: yellow;
}

.monster-proficiencies {
  width: 100%;
  background-color: aquamarine;
}

.monster-specials {
  width: 100%;
  background-color: aliceblue;
}

/* .special-ability {
} */

.special-ability span {
  font-weight: 900;
}

.monster-actions {
  width: 100%;
  background-color: bisque;
}

.section-header {
}

.monster-action {
}

.monster-action span {
  font-weight: 800;
}
